# Configuration file

general {
    # True means automation is allowed as normal; false will disable the capabilities so hoppers, cables, pipes will not connect [default: true]
    B:allowAutomation=false

    # Can the handle break if its used too many times while the input is empty [default: true]
    B:breakableHandle=true

    # How many stages (player uses) trigger a recipe. Each stage is one cardinal direction, meaning 4 stages is one full rotation [range: 1 ~ 444, default: 4]
    I:stagesPerRecipe=6

    # How many ticks must be in between two player interactions; this is the cooldown in between spins at maximum speed (20 ticks in one second) [range: 1 ~ 80, default: 5]
    I:timerCooldown=5
}


